{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-7 col-md-6 my-auto">
            <div class="my-5 about-section">
                <button id="aboutBtn">About Console Kingdom</button>
            </div>
        </div>
    </div>
</div>
 <!-- About Us Modal  -->
<div id="aboutModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Welcome to Console Kingdom, Your Local Gaming Haven!</h2>
        <p>
            At Console Kingdom, we are passionate about gaming and dedicated 
            to providing the best gaming console and accessories shopping experience 
            in South Dublin. Our mission is to bring the latest gaming technology 
            and top-quality accessories to gaming enthusiasts, hobbyists, and everyone 
            who loves to immerse themselves in the exciting world of video games.
        </p>
    </div>
</div>
{% endblock %}

 <!-- User Feedback  -->
{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
  {% endif %}

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>

<script>
    var modal = document.getElementById("aboutModal");
    var btn = document.getElementById("aboutBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    };

    span.onclick = function () {
        modal.style.display = "none";
    };

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
</script>
{% endblock %}