{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Console Kingdom is an online store for gaming prodcuts">
  <meta name="keywords"
    content="console kingdom, console, controller, xbox, playstation, nintendo, console storage, gaming">
  <link rel="shortcut icon" type="image/x-icon" href="../media/browser-icon.png">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/c939e03c3f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Console Kingdom {% block extra_title %}{% endblock %}</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark nav-back">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: #D4C9FF;">Console Kingdom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blogs-view' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg" style="color:white;"></i></div>
                <p class="my-0" style="color:white;">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Create a Product</a>
              {% endif %}
              <a href="{% url 'user' %}" class="dropdown-item">My Account</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
              href="{% url 'view_cart' %}">
              <div class="text-center">
                <div><i class="fas fa-shopping-cart fa-lg" style="color:#D4C9FF;"></i></div>
                <p class="my-0" style="color:#D4C9FF;">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>

  <!-- User Feedback -->
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>
  {% endblock %}

  <!-- Footer -->
  <footer class="text-white text-center text-lg-start" style="background-color: #23242a;" id="footer-contact">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4" style="color: #D4C9FF;">Console Kingdom</h5>
          <p style="color: white;">
            At Console Kingdom, we are passionate about gaming and dedicated
            to providing the best gaming console and accessories shopping experience
            in South Dublin. Our mission is to bring the latest gaming technology
            and top-quality accessories to gaming enthusiasts, hobbyists, and everyone
            who loves to immerse themselves in the exciting world of video games.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1" style="color: #D4C9FF;">Our Newsletter</h5>
          <div class="form-outline form-white mb-4">
            <form class="d-flex justify-content-center flex-wrap" method="POST" action="{% url 'subscribe' %}">
              {% csrf_token %}
              <div class="my-2"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
              <div class="my-2"><button class="btn btn-success ml-2" type="submit">Subscribe</button></div>
            </form>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 48.8px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <ul class="fa-ul" style="margin-left: 1.65em; color: white;">
            <li class="mb-3">
              <span class="fa-li"></span><span class="ms-2">Greystones, Ireland</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"></span><a href="mailto:consolekingdom@gmail.com" aria-label="send email link"
                class="ms-2" style="color: white;">consolekingdom@gmail.com</a>
            </li>
            <li class="mb-3">
              <span class="fa-li"></span><span class="ms-2">+ 01 234 567 88</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4" style="color: #D4C9FF;">Socials</h5>
          <div class="mt-4">
            <ul class="list-inline" style="color: white;">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/Console-Kingdom-115364421628176" target="_blank" rel="nofollow"
                  class="me-4 text-reset btn-lg">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/" target="_blank" rel="nofollow" class="me-4 text-reset btn-lg">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" target="_blank" rel="nofollow" class="me-4 text-reset btn-lg">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/ConorBevan" target="_blank" rel="nofollow" class="me-4 text-reset btn-lg">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: #2C1D28; color: #D4C9FF;">
      © 2023 Copyright:
      <a style="color: #D4C9FF;" href="https://github.com/ConorBevan">Conor Bevan</a>
    </div>
  </footer>

</body>

</html>